@{
    ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
    <section id="">
        <h1>
            Page for reviews
        </h1>
        <h1>@ViewBag.ReviewTitle left this review</h1>

        <p1>Here we display the info about review @ViewBag.ReviewId</p1>
    </section><!-- End Hero -->

