
@{
    ViewData["Title"] = "Education";
}

<!-- ======= My Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <span>My Resume</span>
            <h2>My Resume</h2>
            <p>Time-tested experience in IT, finance and positive customer relations</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Colm Sheehan</h4>
                    <p><em>Extremely organized with a proven ability to work reliably both independently and in a successful team as team leader or member. Demonstrates the attitude and multi-tasking abilities required to meet demanding deadlines while maintaining the highest standards and quality. Combines a professional and confident approach with excellent interpersonal skills and can communicate concisely at all levels. </em></p>
                    <p>
                        <ul>
                            <li>Ireland</li>
                            <li>(123) 456-7891</li>
                            <li>email@example.com</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>BSc BIS</h4>
                    <h5>2017 - 2021</h5>
                    <p><em>University College Cork, Cork, Ireland</em></p>
                    <p>Subjects studied included Software development and application design, Business analysis, information systems and finance and econmics.</p>
                </div>
                <div class="resume-item">
                    <h4>Leaving Certificate</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Ashton School, Cork, Ireland</em></p>
                    <p>Subjects studied: Accounting, econmics, Physics, Mathmatics, Construction Studies, English, Irish, French</p>
                </div>
            </div>


        </div>
        </div>

    </div>
</section><!-- End My Resume Section -->
