
@{
    ViewData["Title"] = "Education";
}

<!-- ======= My Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <span>My Resume</span>
            <h2>My Resume</h2>
            <p>Time-tested experience in IT, finance and positive customer relations</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Colm Sheehan</h4>
                    <p><em>Extremely organized with a proven ability to work reliably both independently and in a successful team as team leader or member. Demonstrates the attitude and multi-tasking abilities required to meet demanding deadlines while maintaining the highest standards and quality. Combines a professional and confident approach with excellent interpersonal skills and can communicate concisely at all levels. </em></p>
                    <p>
                        <ul>
                            <li>Ireland</li>
                            <li>(123) 456-7891</li>
                            <li>email@example.com</li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>BSc BIS</h4>
                    <h5>2017 - 2021</h5>
                    <p><em>University College Cork, Cork, Ireland</em></p>
                    <p>Subjects studied included Software development and application design, Business analysis, information systems and finance and econmics.</p>
                </div>
                <div class="resume-item">
                    <h4>Leaving Certificate</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Ashton School, Cork, Ireland</em></p>
                    <p>Subjects studied: Accounting, econmics, Physics, Mathmatics, Construction Studies, English, Irish, French</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Blockchain Consultant Intern</h4>
                    <h5>March 2020 - August 2020</h5>
                    <p><em>Dublin, Ireland</em></p>
                    <p>
                        <ul>
                            <li>Involved in client deliverable software development projects, software testing, and template creation.</li>
                            <li>Through this position I worked with a team following agile (scrum) principles which ensured good project management and creation of sustainable technology which solved business problems and generated value. </li>
                            <li>This role required analytical thinking to create solutions tailored to clients to deliver satisfying results under constraints.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Graphic design specialist</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Stepping Stone Advertising, New York, NY</em></p>
                    <p>
                        <ul>
                            <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                            <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                            <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                            <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End My Resume Section -->
