@model Recommendation
@{
    ViewData["Title"] = "Add Review";
}

<!-- ======= Hero Section ======= -->
    <section id="">
        <h1>
            Thanks!
        </h1>
  
        
            <div>Thank you @Model.Author for your review! </div>
        


    </section><!-- End Hero -->

